---
import Video from "../Common/Video.astro";
import Info from "./Info.astro";
---

<div
  class="relative after-gradient bg-[#171e1d] before-gradient bg-bottom-image bg-cover px-8 pt-36 lg:p-0 bg-top"
>
  <Video />
  <Info />
</div>
