<div class="px-16 relative hidden lg:block">
  <div
    class="max-w-[1330px] block -mt-2 bg-contain relative bg-no-repeat -top-16 z-10"
  >
    <div class="bg-video-frame bg-[0_0] bg-contain bg-no-repeat p-[26px]">
      <div
        class="before-trailer -z-10 block overflow-hidden relative p-0 w-full"
      >
        <img
          class="h-full w-full absolute top- left-0 bottom-0"
          src="/assets/launch-trailer.jpg"
        />
      </div>
      <div
        class="z-10 absolute flex justify-center items-center w-[170px] h-[170px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <a
          href="https://www.youtube.com/watch?v=BtyBjOW8sGY"
          target="_blank"
          class="relative p-1 w-[170px] h-[170px] flex items-center group"
        >
          <img
            class="absolute h-full w-full"
            src="/assets/play-button-shadow.png"
          />
          <img
            class="absolute transition-transform duration-[0.6s] ease-[cubic-bezier(.48,0,0.48,1)] group-hover:rotate-[85deg] h-full w-full"
            src="/assets/play-button-outer.png"
          />
          <img
            class="absolute transition-transform duration-[0.6s] ease-[cubic-bezier(.48,0,0.48,1)] group-hover:rotate-[-50deg] h-full w-full"
            src="/assets/play-button-inner.png"
          />
          <img
            class="absolute transition-transform duration-[0.6s] ease-[cubic-bezier(.48,0,0.48,1)] group-hover:rotate-[-30deg] h-full w-full"
            src="/assets/play-button-lip.png"
          />
          <img
            class="absolute group-hover:scale-105 transition-transform duration-[0.4s] ease-[cubic-bezier(.48,0,0.48,1)] w-[54px] ml-2 left-1/2 -translate-x-1/2"
            src="/assets/play-button-arrow.png"
          />
        </a>
      </div>
    </div>
  </div>
</div>
